@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,823;1,823&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #CFCFCF, #FFECE1, #FF914D);
}

header img{
    width: 200px;
}

header{
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
}

footer{
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}

.container{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container .content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    position: relative;
}

.container .content .TextoBT{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 99px;
    /* margin-left: 500px; */
    gap: 15px;
}

.TextoBT .texto{
    max-width: 600px;
    text-align: right;
}

.TextoBT .texto h2{
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

.TextoBT .texto h4{
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.botoes{
    width: 100%;
    height: 100%;
    display: contents;
    align-items: center;
}

.botoes .buttong{
    background-color: #FFFFFF;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 90px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    margin-right: 350px;
    width: 365px;
    height: 55px;
}

.botoes .buttong:hover{
    background: #FF914D;
    color: #FFFFFF;
}

.botoes .buttong h1{
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.botoes .buttonx{
    background-color: #FFFFFF;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 90px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);  
    margin-right: 350px;
    width: 365px;
    height: 55px;
}

.botoes .buttonx:hover{
    background: #FF914D;
    color: #FFFFFF;
}

.botoes .buttonx h1{
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.botoes .buttonf{
    background-color: #FFFFFF;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 90px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    margin-right: 350px;
    width: 365px;
    height: 55px;
}

.botoes .buttonf:hover{
    background: #FF914D;
    color: #FFFFFF;
}

.botoes .buttonf h1{
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.botoes .buttonc{
    background-color: #FFFFFF;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 90px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    margin-right: 350px;
    width: 365px;
    height: 55px;
}

.botoes .buttonc:hover{
    background: #FF914D;
    color: #FFFFFF;
}

.botoes .buttonc h1{
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.botoes .buttone{
    background-color: #FFFFFF;
    border: none;
    color: #FF914D;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 90px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    margin-right: 350px;
    width: 365px;
    height: 55px;
}

.botoes .buttone:hover{
    background: #FF914D;
    color: #FFFFFF;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
}

.botoes .buttone h1{
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

.ou h2{
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-right: 350px;
}

.PC h2{
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-right: 350px;
}

.termos h2{
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    width: 350px;
    margin-right: 350px;
}